@page
@model ServiceHost.Pages.NotFoundModel
@{
}

<div class="d-flex justify-content-center align-items-center w-100 mt-5">
   <h1>صفحه مورد نظر یافت نشد !!</h1>
   <h4>ممکن است آدرس صفحه را اشتباه وارد کرده باشید</h4>
</div>
