img.SliderImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


    .SliderParentTopPage p,
    .SliderParentTopPage a,
    .SliderParentTopPage button {
        font-family: Vazir !important;
    }


    *{
        font-family : Vazir !important;
    }